{{#partial "title" }}
    Change
{{/partial}}


{{#partial "content"}}

    <h1>GET CHANGE AMOUNT</h1>
    <p>Dear ${{ dollarAmount }},</p>
    <p>${{ myChangeString }} </p>
{{/partial}}

{{> layout.hbs}}